/**
 * Heading Block Styles
 */

.wp-block-heading {
  color: var(--wp--preset--color--foreground);
}

.wp-block-heading.h1, .wp-block-heading .h1, h1 {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--gigantic);
  font-weight: var(--wp--preset--font-weight--bold);
  line-height: var(--wp--preset--line-height--tight);
  letter-spacing: var(--wp--preset--letter-spacing--tight);
}

.wp-block-heading.h2, .wp-block-heading .h2, h2 {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--huge);
  font-weight: var(--wp--preset--font-weight--semibold);
  line-height: var(--wp--preset--line-height--snug);
  letter-spacing: var(--wp--preset--letter-spacing--tight);
}

.wp-block-heading.h3, .wp-block-heading .h3, h3 {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--xxx-large);
  font-weight: var(--wp--preset--font-weight--semibold);
  line-height: var(--wp--preset--line-height--snug);
}

.wp-block-heading.h4, .wp-block-heading .h4, h4 {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--xx-large);
  font-weight: var(--wp--preset--font-weight--medium);
  line-height: var(--wp--preset--line-height--normal);
}

.wp-block-heading.h5, .wp-block-heading .h5, h5 {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--large);
  font-weight: var(--wp--preset--font-weight--medium);
  line-height: var(--wp--preset--line-height--normal);
}

.wp-block-heading.h6, .wp-block-heading .h6, h6 {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--normal);
  font-weight: var(--wp--preset--font-weight--medium);
  line-height: var(--wp--preset--line-height--normal);
}
