/* ========================================
   RADIO GROUP
   ======================================== */

.wp-block-radio-group {
  display: grid;
  gap: var(--wp--preset--spacing--20);
}

.wp-block-radio-item {
  aspect-ratio: 1;
  height: 1rem;
  width: 1rem;
  border-radius: var(--wp--preset--border-radius--full);
  border: 1px solid var(--wp--preset--color--primary);
  color: var(--wp--preset--color--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-block-radio-item:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--wp--preset--color--ring);
}

.wp-block-radio-item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.wp-block-radio-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-block-radio-indicator::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: currentColor;
}